# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

/cp_models.sh

/inference/提取答案.ipynb
/inference/models/*
/inference/data/test_B/imgs/
/inference/data/test_B/masks/
